/* Colores base */
:root {
  --color-primary: #800020;
  --color-light: #F5F5F5;
  --color-dark: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background: var(--color-light);
  color: var(--color-dark);
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
